/* ===== CUSTOM PROPERTIES ===== */

:root {
   --clr-primary-400: hsl(25, 97%, 53%);
   
   --clr-neutral-100: hsl(0, 0%, 100%);
   --clr-neutral-200: hsl(217, 12%, 63%);
   --clr-neutral-400: hsl(216, 12%, 54%);
   --clr-neutral-600: hsl(212, 18%, 19%);
   --clr-neutral-700: hsl(213, 19%, 18%);
   --clr-neutral-800: hsl(215, 21%, 11%);
   --clr-neutral-900: hsl(216, 12%, 8%);

   --ff-primary: 'Overpass', sans-serif;
   --fs-400: 0.9375rem;
   --fs-700: 1.65rem;
   --fw-400: 400;
   --fw-700: 700;

   --br: 1.5rem;
   --br-circle: 50%;
}

/* ===== GENERAL STYLES ===== */

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    color: var(--clr-neutral-200);
    background-color: var(--clr-neutral-900);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

footer {
    position: absolute;
    bottom: 0;
    padding-block: 1.5em;
}

/* ===== BUTTONS ===== */

button, .btn {
    border: none;
    background: none;
    cursor: pointer;
    line-height: 1;

    position: relative;
    z-index: 1;
}

.btn > * {
    cursor: pointer;
}

.btn[data-type="primary"] {
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-400);
    padding-block: 1rem;
    border-radius: var(--br);
}

.btn[data-type="secondary"],
.deco {
    display: grid;
    place-items: center;
    background-color: var(--clr-neutral-600);

    width: 3rem;
    height: 3rem;
    border-radius: var(--br-circle);
}

input[type="radio"] {
    appearance: none;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;

    position: absolute;    
    top: 0;
    left: 0;
    z-index: -1;
}

input[type="radio"] ~ label {    
     padding-top: 0.25rem;
}

/* ===== pseudo elements ===== */

.btn[data-type="primary"]::before,
input[type="radio"]::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.btn[data-type="primary"]::before {    
    background-color: var(--clr-neutral-100);
}

input[type="radio"]::before {    
    background-color: var(--clr-neutral-400);
}

/* ===== hover and focus states ====== */

.btn[data-type="primary"]:hover,
.btn[data-type="primary"]:focus {
    color: var(--clr-primary-400);
}

input[type="radio"]:hover ~ label,
input[type="radio"]:focus ~ label,
input[type="radio"]:checked ~ label {
    color: var(--clr-neutral-100);
}

.btn[data-type="primary"]:hover::before,
.btn[data-type="primary"]:focus::before,
input[type="radio"]:hover::before,
input[type="radio"]:focus::before {
    opacity: 1;
}

input[type="radio"]:checked,
input[type="radio"]:checked::before {
    background-color: var(--clr-primary-400);
}


/* ===== CARD ===== */

.card {
    width: 95%;
    max-width: 25.5rem;
    margin-inline: auto;    

    padding: 1.5rem;
    border-radius: var(--br);
    background-image: linear-gradient(to bottom, var(--clr-neutral-700), var(--clr-neutral-800));
}

.card__content,
.card__content form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.thank-you__content {
    padding-block: 1rem;
    text-align: center;
    gap: 1.75rem;
}

.thank-you__image {
    margin-inline: auto;
}

.thank-you__body > * + * {
    margin-top: 0.75rem;
}

.title {
    font-size: var(--fs-700);
    font-weight: var(--fw-700);
    color: var(--clr-neutral-100);
    line-height: 1.1;
}


.rating-scale {
    margin-block: 1.125rem;
    display: flex;
    justify-content: space-between;
}

.rating-info {
    align-self: center;
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    color: var(--clr-primary-400);
    background-color: var(--clr-neutral-600);
    padding: 0.5rem 1rem;
    border-radius: var(--br);    
}

.error {
    text-align: center;
    font-weight: var(--fw-700);
    color: var(--clr-primary-400);
}

/* ===== ATTRIBUTION ===== */

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: var(--clr-primary-400);
  }